/* #203d75;
 #0091c0;

 #ffffff;
 #DFE5E7;
 #D7C8CA
 #fcede9
 #fefbfb
 #fefaf8
 #fdf4f2
 #fefaf8
   background-color: rgba(233, 229, 237, 0.3);
 */

#LogReg__page {
  height: 100vh;
  /* margin: 1rem; */
  background-color: rgba(233, 229, 237, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

#LogReg__page > header {
  /* background-color: var(--bright-bg-color); */
  width: 80vw;
  height: 35vh;
  /* background-color: white; */
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 5rem;
}

#LogReg__page > header > .LogReg__hero-img {
  width: 100%;
  height: 100%;
  background-image: url('../../public/logo-apside-bleu.svg');
  background-size: 80vw;
  margin-left: 10%;
  background-repeat: no-repeat;
  background-position: center;
  /* border: blueviolet solid 2px; */
}

@media screen and (max-width: 480px) {
  #LogReg__page > header > .LogReg__hero-img {
    min-width: 100%;
    height: 100%;
    background-image: url('../../public/logo-apside-bleu.svg');
    background-size: 130vw;
    background-repeat: no-repeat;
    background-position: center;
  }

  .LogReg__title-blue {
    margin: 3%;
    letter-spacing: 0.00938em;
    color: rgb(24, 54, 80);
    font-family: Montserrat, sans-serif;
    /* font-size: 47px; */
    font-weight: 900;
    line-height: 1;
    display: inline-block;
    margin-bottom: 3%;
    padding-bottom: 3%;
  }
}

#LogReg__page > main {
  width: 90vw;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.LogReg__title {
  width: 35rem;
  margin-inline: auto;
  font-weight: 600;
  font-size: 4rem;
  display: flex;
  align-items: center;
  text-align: center;
  /* width: max(150px); */
  /* min-width: 15rem; */
  font-family: Hind, sans-serif;
  color: #e79759;
  min-height: 5rem;
  /* font-size: 150%; */
  /* border-radius: 1rem; */
  width: 10rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.LogReg__title-orange,
.LogReg__title-blue {
  font-size: 5rem;
}

.LogReg__title-orange {
  line-height: 1;
}

.LogReg__title-blue {
  margin: 0px 0px 3%;
  letter-spacing: 0.00938em;
  color: rgb(24, 54, 80);
  font-family: Montserrat, sans-serif;
  /* font-size: 47px; */
  font-weight: 900;
  line-height: 1;
  margin-bottom: ;
  display: inline-block;
}

#LogReg__page main > p {
  width: 30rem;
  margin-inline: auto;
  color: #e79759;
  font-weight: 500;
  font-size: 1.5rem;
}

#LogReg__page > footer {
  min-width: 90%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

#LogReg__page > footer > .LogReg__btn {
  min-width: 15rem;
  min-height: 5rem;
  font-size: 150%;
  border-radius: 1rem;
  border: 2px solid #ffffff;
  background-color: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#LogReg__page > footer > .LogReg__btn.bright {
  width: 'max(150px)';
  font-size: '20px';
  min-width: '15rem';
  font-family: 'Montserrat';
  font-weight: '400';
  color: '#183650';
  min-height: '5rem';
  font-size: '150%';
  border-radius: '1rem';
  border: '2px solid #ffffff';
  background-color: '#fff';
  filter: 'drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))';
  cursor: pointer;
}

#LogReg__page > footer > .LogReg__btn.dark {
  background: #e9e5ed;
  width: 'max(150px)';
  font-size: '10px';
  min-width: '15rem';
  font-family: 'Montserrat';
  font-weight: '500';
  color: '#183650';
  min-height: '5rem';
  font-size: '150%';
  border-radius: '1rem';
  border: '1px solid #ffffff';
  background-color: '#fff';
  filter: 'drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))';
  cursor: pointer;
}
