/*#183650

#e79758 

*/

#discovery-filter__page > header {
}

header > .filter__title {
  font-size: 3rem;
  font-weight: 600;
  font-family: Montserrat, sans-serif;
  text-align: center;
}
header > .filter__text-field {
  width: 80%;
  height: 2rem;
  margin-inline-start: 7rem;

  background: #ffffff;
  border: 1rem solid #ffffff;
  border-radius: 1rem;
}

header > .filter__text-field::placeholder {
  font-size: larger;
  opacity: 0.6;
}

#discovery-filter__page > main {
}
main > .discovery__search-tags {
}
main > .discovery__search-stats {
}

main > .discovery__search-tags > button {
  background: #eef2fa;
  border: 0.2rem solid #ffffff;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}
main > .discovery__search-stats > button {
}

#discovery-filter__page > footer {
}
#discovery-filter__page > footer > .apply-btn {
}
