.logo-navbar {
    display: block;
    height: 3rem;
    background-color: white;
}

.color-navbar {
    background-color: white;
    outline: white;
    border: white;
    box-shadow: white;
    border-bottom: 0;
}

.text-navbar {
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}