body {
  font-family: Hind, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  display: flex;
  align-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  padding: 3%;
  justify-content: center;
  background-color: #e79759;
  margin: 10% 20% auto 20%;
}

code {
  font-family: Montserrat, sans-serif;
}